.titleFromSection {

  .titleImage {
    background-image: url(../../../images/illustrations/pick.png);
    background-repeat: no-repeat;
    width: 158px;
    height: 78px;
    background-size: contain;
  }

  .titleSection{
    font-weight: bold;
    font-size: 55px;
    line-height: 67px;
    color: #0C261C;
  }

}